<!DOCTYPE html>
<html>
  <head>
    <title>Hangman Js Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  	<%= render "layouts/navbar" %>

  	<div class="container">
  		<%= yield %>
  	</div>

    <%= render "layouts/footer" %>
  </body>
</html>
